﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SupervisorWeb.aspx.cs" Inherits="Web.SupervisorWeb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            bienvenido supervisor</div>
        <p>
            <asp:Label ID="lblNombreUsario" runat="server"></asp:Label>
        </p>
    </form>
</body>
</html>
