﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TecnicoWeb.aspx.cs" Inherits="Web.TecnicoWeb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.0.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/popper.min.js"></script>
    <link href="Content/StyleSheet1.css" rel="stylesheet" />
    <title></title>
</head>
<body>

    <form id="form1" runat="server">
     <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Empresa SAFE Bienvenido "<asp:Label ID="lblNomusuario" runat="server"></asp:Label>"
         </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="AgregarEvaluacionTec.aspx">Registrar evaluación</a>
        <a class="p-2 text-dark" href="Login.aspx">Cerrar Sesion</a>
      </nav>
    </div>
    </form>

</body>
</html>
